# Created by .ignore support plugin (hsz.mobi)
.idea/
/.idea/
/wthings_gateway/config/connected_devices.json
/wthings_gateway/data/
/wthings_gateway/logs/
/wthings_gateway/config/wt_gateway.yaml
wthings_gateway/config/AlarmLed.json
wthings_gateway/connectors/can/__pycache__/
